.make-appointment {
  background-image: url(../../assets/images/appointment.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.make-appointment .appointment-img {
  margin-top: -150px;
}
